.loanFormBox{
  display: flex;
  /* gap: 50px; */
  align-items: center;
    /* flex-direction: column; */
    justify-content: space-between;
    /* margin-top: 30px; */
    height: 600px;
    width: 90%;
    padding: 10px;
    border-radius: 20px;
    background-color: white;
    /* border: 3px solid black; */
    /* border-radius: 20px; */
}
.form {
    /* margin-top: 30px; */
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    background-color: rgba(245, 245, 245, 0.267);
    height: 90%;
    width: 80%;
    /* padding: 30px; */
    /* padding-right: 30px; */
    /* padding: 20px 20px 0 20px; */
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
.personalInfo{
  /* border: 3px solid crimson; */
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.personalDetails{
    /* background-color: plum; */
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    width: 90%;
    /* height: 100px; */
    height: 25%;
}
.residentialDetails{
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 90%;
    /* height: 160px; */
    height: 35%;
    /* padding-right: 10px; */
}
.contactDetails{
    /* background-color: palegreen; */
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    width: 90%;
    /* height: 100px; */
    height: 25%;
}
.fields{
    width: 100%;
    display: flex;
    /* border: 2px solid black; */
    align-items: center;
    justify-content: space-between;
    /* gap: 10%; */
}
.fields2{
    margin-top: 20px;
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr; /* 3 columns: First two are equal, third is smaller */
    grid-template-rows: 1fr 1fr 1fr; /* 3 equal rows */
    /* border: 2px solid black; */
    gap: 20px;
    /* padding-right: 50px; */
    justify-content: space-between;
    /* align-items: center; */
}


.fields3{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid black; */
}


#firstName, #lastName, #email{
    width: 100%;
    height: 100%;
   
}
#phoneNo{
    width: 100%;
    height: 50%;
    background-color: transparent;
}
.phoneInput{
    background-color: transparent;
}
/* From Uiverse.io by Yaya12085 */ 

.Buttons{
  /* border: 2px solid crimson; */
  width: 100%;
  height: 15%;
  /* height: 100px; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}
  .Buttons button {
    background-color: #9a59ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 200px;
    /* right: 0; */
  }
  
  .Buttons button:hover {
    border: 1px solid #9a59ff;
    transition: 0.8s;
    letter-spacing: 2px;
    background-color: transparent;
    color: #9a59ff;
  }
  
  .title {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
  }

  .group, .phoneGroup {
    /* background-color: #3366cc; */
    position: relative;
    /* background-color: transparent; */
  }
  
  .group label, .phoneGroup label {
    font-size: 14px;
    color: rgb(99, 102, 102);
    position: absolute;
    top: -10px;
    left: 10px;
    /* width: 90%; */
    /* background-color: #fff; */
    transition: all .3s ease;
  }
  
.group input, .group textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  /* margin-bottom: 20px; */
  outline: 0;
  width: 90%;
  /* height: 30px; */
  /* background-color: palegoldenrod; */
}

  .form .group input:placeholder-shown+ label, .form .group textarea:placeholder-shown +label {
    top: 10px;
    background-color: transparent;
  }
  
  .form .group input:focus,
  .form .group textarea:focus {
    border-color: #9a59ff;
  }
  
  .form .group input:focus+ label, .form .group textarea:focus +label {
    top: -10px;
    left: 10px;
    background-color: #fff;
    color: #9a59ff;
    font-weight: 600;
    font-size: 14px;
  }
  
  .group textarea {
    resize: none;
    height: 100px;
  }
  

  
  @media screen and (max-width: 1000px) {
    .loanFormBox{
        display: flex;
        flex-direction: column;
        align-items: center; 
        height: 70%;
    }
    .form{
      height: 75%;
      border-radius: 20px;
      /* background-color: plum; */
    }
    .fields, .fields3{
      gap: 20px;
    }
   
}
  
@media screen and (max-width: 775px) {
  .loanFormBox{
    display: flex;
    flex-direction: column;
    align-items: center; 
    height: 80%;
  }
  .form{
    height: 80%;
    border-radius: 20px;
  }
  .fields, .fields3{
    display: flex;
    flex-direction: column;
  }
  .fields2{
    display: grid;
    grid-template-columns: 2fr 2fr ; /* 3 columns: First two are equal, third is smaller */
    grid-template-rows: 1fr 1fr 1fr; /* 3 equal rows */
    gap: 20px;
    height: 200px;
    justify-content: space-between;
    /* border: 2px solid black; */
  }
  .fields3{
    /* gap: 20px; */
    /* border: 2px solid black; */
    height: 100px;
    padding-top: 20px;
    
  }
  .personalInfo{
    gap: 20px;
  }
  
}


@media screen and (max-width: 730px) {
  .loanFormBox{
    display: flex;
    flex-direction: column;
    align-items: center; 
    height: 90%;
  }
  .form{
    height: 85%;
  }
  .fields2{
    display: grid;
    grid-template-columns: 2fr; /* 3 columns: First two are equal, third is smaller */
    grid-template-rows: 1fr 1fr 1fr; /* 3 equal rows */
    height: 300px;

  }
  .personalInfo{
    gap: 30px;
  }
  .contactDetails{
    margin-top: 30px;
  }
}


@media screen and (max-width: 410px) {
  .loanFormBox{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    height: 90%;
    /* width: 80%; */
  }
  .form{
    height: 85%;
    width: 100%;
    border: 2px solid black;
  }
}