.calendar{
    
    width: 100%;
    /* height: 100%; */
    /* margin: 20px auto; */
    /* border: 1.5px solid #ccc; */
    border-radius: 20px;
    overflow: hidden;
    padding-bottom: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9a59ff;
    color: white;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
}
.header button{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 15px;
    opacity: .7;
    cursor: pointer;
}
.dayNames, .days{
    display: flex;
    flex-wrap: wrap;
}
.dayName{
    width: 14.28%;
}
.day, .emptyDay{
    width: 11%;
}
.dayName, .day, .emptyDay{
    padding: 10px;
    border: 2px solid #f0f0f0;
    box-sizing: border-box;
    text-align: center;
    font-size: 12px;
    opacity: .7;
    border-radius: 5px;
}
.dayName{
    background-color: #f0f0f0;
    opacity: .5;
    font-weight: bold;
    margin-bottom: 8px;
}
.day{
    border: 2px solid #f0f0f0;
    cursor: pointer;
    transition: background-color 0.3s;
}
.day:hover{
    background-color: #e0e0e0;
}
.emptyDay{
    border: 2px solid #f0f0f0;
    background-color: rgba(255, 255, 255, 0.553);
    backdrop-filter: blur(20px);
}
.today{
    background-color: #9a59ff;
    color: white;
    border-radius: 5px;
    text-align: center;
}
.selected{
    background-color: #9a59ff;
    color: white;
    border-radius: 5px;
    text-align: center;
}

/* .prevMonthDay, .nextMonthDay {
    width: 14.28%;
    padding: 10px;
    border: 2px solid #f0f0f0;
    box-sizing: border-box;
    text-align: center;
    font-size: 12px;
    opacity: 0.4; 
    border-radius: 5px;
}


.nextMonthDay {
    color: #bbb;
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px solid #f0f0f0;
    cursor: pointer;
}
.nextMonthDay:hover {
    background-color: #e0e0e0;
} */
