/* @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Teko:wght@300..700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Patrick+Hand&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Teko:wght@300..700&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Patrick+Hand&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Teko:wght@300..700&display=swap');

.dashboard{
    width: 85%;
    height: 170vh !important;
    padding: 10px;
    /* border-left: 1px solid; */
    /* border-image: linear-gradient(to bottom, #87c93e, #407016, #133402) 1; */
    background-color: rgb(201, 201, 201);
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 190px;
    font-family: "Exo 2", serif;
    /* font-family: "Patrick Hand", serif; */
    /* position: fixed; */
    /* overflow-y: scroll; */
    /* font-family: "MuseoModerno", serif; */
    /* overflow-y: scroll; */
}
.paymentIcon{
    font-size: 40px;
    width: 40%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 40px; */
}
.paymentOption{
    /* border: 1px solid black; */
    width: 80%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.content{
    width: 100%;
    height: 90%;
    /* border: 1px solid black; */
    /* background-color: black; */
    display: grid;
    grid-template-columns: 2fr 2fr 2fr; /* 3 columns: First two are equal, third is smaller */
    grid-template-rows: 1fr 1fr 1fr; /* 3 equal rows */
    gap: 10px; /* Adds spacing between grid items */
}
.overview{
    width: 100%;
    height: 150px;
    grid-column: 1 / span 3;
    grid-row: 1;
    border-radius: 5px !important;
}
.totalLoan{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-column: 1 / span 2;
    grid-row: 2;
    border-radius: 5px;
    /* border: 2px solid black; */
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(20px);
    padding: 20px;
}
.currentLoan{
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(20px);
    grid-column: 3;
    grid-row: 2;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;     
    max-width: 100%; 
    overflow: hidden;
    /* height: 100%; */
    padding-top: 20px;
    /* padding-bottom: 7r0px; */
    
}
.currentLoan h1{
    font-size: 25px;
}

.hotLoanDeals{
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(20px);
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap: 20px;
}
.piechart{
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-column: 2 / span 1;
    grid-row: 3;
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(20px);
    border-radius: 5px;
    /* border: 2px solid black; */
    align-items: center;
    height: 300px;
    justify-content: center;
}
.activities{
    /* margin-top: 10px; */
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(20px);
    border-radius: 5px;
    grid-column: 1 / span 3;
    grid-row: 3;
    height: 350px;
}


.changePayment{
    background-color: #54a229;
    color: white;
    width: 80%;
    height: 50px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
}
.changePayment:hover{
    transform: scale(1.08);
    transition: 1s;
    border: 1px solid #9a59ff;
    background-color: transparent;
    color: #9a59ff;
}



.swiper {
    width: 80%;
    height: 140px;
    
    /* border: 3px solid black; */
  }
  
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: transparent;
  }

@media screen and (max-width: 1200px) {
    .dashboard{
        height: 140vh;
    }
}

@media screen and (max-width: 1000px) {
    .dashboard{
        width: 100%;
        margin-top: 70px;
        margin-left: -39px;
        /* height: 1; */
        /* left: 0; */
    }
    .activities{
        height: 350px;
    }
}

@media screen and (max-width: 966px) {
    .currentLoan h1{
        font-size: 22px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 860px) {
    .currentLoan h1{
        font-size: 22px;
    }
}

@media screen and (max-width: 800px) {
    .dashboard{
        height: 120vh;
    }
    .content{
        display: grid;
        grid-template-columns: 2fr 2fr 2fr; /* 3 columns: First two are equal, third is smaller */
        grid-template-rows: 1fr 1fr 1fr; /* 3 equal rows */
        gap: 10px;
    }
    .overview{
        grid-column: 1 / span 3;
        grid-row: 1;
    }
    .totalLoan{
        grid-column: 1 / span 3;
        grid-row: 2;
    }
    .currentLoan{
        grid-column: 1 / span 2;
        grid-row: 3 / span 2;
    }
    .piechart{
        grid-column: 3 / span 1;
        grid-row: 3 / span 1;
    }
    .hotLoanDeals{
        grid-column: 3 / span 1;
        grid-row: 4 / span 1;
    }
    .activities{
        grid-column: 1 / span 3;
        grid-row: 5;
        /* height: 350px; */
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .currentLoan h1{
        font-size: 17px;
    }
   
}

@media screen and (max-width: 770px) {
    .currentLoan h1{
        font-size: 19px;
    }
}

@media screen and (max-width: 760px) {
    /* .dashboard{
        height: 250vh;
    } */
    .piechart{
        height: 100%;
    }
    .content{
        display: grid;
        grid-template-columns: 2fr 2fr 2fr; /* 3 columns: First two are equal, third is smaller */
        grid-template-rows: 0.6fr 1fr 1fr 1fr 1fr 1fr !important; /* 3 equal rows */
        gap: 10px;
        margin-top: 20px;
    }
    .overview{
        grid-column: 1 / span 3;
        grid-row: 1;
    }
    .totalLoan{
        grid-column: 1 / span 3;
        grid-row: 2;
    }
    .currentLoan{
        grid-column: 1 / span 3;
        grid-row: 3 / span 2;
        padding-bottom: 20px;
        /* height: 600px; */
    }
    .piechart{
        grid-column: 1 / span 3;
        grid-row: 5;
        /* height: 300px; */
    }
    .hotLoanDeals{
        grid-column: 1 / span 3;
        grid-row: 6;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .activities{
        grid-column: 1 / span 3;
        grid-row: 7;
        /* height: 300px; */
    }
    .currentLoan h1{
        font-size: 17px;
    }
}

@media screen and (max-width: 610px) {
    .activities{
        overflow-x: scroll;
        /* width: 110%; */
    }
}

/* @media screen and (max-width: 365px){
    .currentLoan{
        grid-column: 1 / span 3;
        grid-row: 2 / span 2;
    }
} */

@media screen and (max-height: 1050px) {
    /* .currentLoan{
        height: 600px;
    } */
     .dashboard{
        overflow: visible;
     }
}

@media screen and (max-height: 1200px) {
    /* .currentLoan{
        height: 600px;
    } */
     .dashboard{
        height: 90%;
     }
     /* .overview{
        height: 200px;
     } */
     .content{
        display: grid;
        grid-template-columns: 2fr 2fr 2fr; /* 3 columns: First two are equal, third is smaller */
        grid-template-rows: 0.4fr 1fr 0.6fr 1fr; /* 3 equal rows */
        /* gap: 50px; */
    }
    
}



/* @media screen and (max-height: 1000px) {
     
     .content{
        display: grid;
        grid-template-columns: 2fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr; 
        gap: 50px;
    }
    
} */

@media (max-width: 650px) {
    .totalLoan {
        padding-left: 0;
        padding-right: 0;
    }
    .totalLoan p, .totalLoan h3{
        margin-left: 20px;
    }
  }