@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Patrick+Hand&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Teko:wght@300..700&display=swap');
.homePage{
    /* height: 110vh; */
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    /* color: white; */
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: "Exo 2", serif;
}
.home{
    /* background-image: url('../../images/YapCards.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.514); */
    /* background: linear-gradient(to right, #E4A7F0, #A08CFF, #6B7BFF); */
    width: 100%;
    height: 500px;
    position: relative;
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    /* background-color: crimson; */
}

.homeTxt{
    border-left: 1px solid;
    border-image: linear-gradient(to bottom, #87c93e, #407016, #133402) 1;
    width: 40%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 10px;
    margin-top: 50px;
}
.homeImg{
    /* border: 1px solid black; */
    height: 80%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.phone, .wallet{
    width: 50%;
    height: 100%;
}
.wallet{
    /* background-color: plum; */
    margin-top: 100px;
    margin-left: -130px;
    z-index: 10;
}

@media screen and (max-width: 1200px) {

    .home{
        margin-top: 40px;
        display: flex;
        align-items: start;
        justify-content:center;
        height: 700px;
    }
    .phone, .wallet{
        width: 60%;
        height: 100%;
        /* border: 1px solid black; */
    }
    .homeImg{
        height: 60%;
        width: 50%;
        /* border: 1px solid black; */
    }
    .homeTxt{
        height: 40%;
        width: 40%;
        /* border: 1px solid black; */
    }
}
@media screen and (max-width: 1000px) {

    .home{
        display: flex;
        flex-direction: column;
        align-items: center;
        /* background-color: aqua; */
        margin-top: 20px;
        /* height: 700px; */
        /* justify-content:; */
    }
    .phone, .wallet{
        width: 70%;
        height: 100%;
        /* border: 1px solid black; */
    }
    .homeImg{
        height: 60%;
        width: 55%;
    }
    .homeTxt{
        height: 40%;
        width: 80%;
        text-align: center;
    }
}

@media screen and (max-width: 700px) {
    .homeImg{
       width: 70%;
    }
}

@media screen and (max-width: 545px) {
    .homeImg{
       width: 90%;
    }
}

@media screen and (max-width: 400px) {
    .homeTxt{
       width: 90%;
    }
    .phone, .wallet{
        width: 80%;
        height: 100%;
    }
    .wallet{
        height: 100%;
        margin-left: -170px;
        /* border: 1px solid black; */
    }
}