.overviewBox{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid black; */
}
.loanBox{
    width: 30%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.553);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loanIcon {
    font-size: 40px;
    /* color: #7c0051; */
    color: #5f32a8;
    /* margin-bottom: 10px; */
}
  
h3{
    margin: 5px 0;
    font-size: 18px;
}
  
p{
    font-size: 16px;
    font-weight: bold;
}

@media screen and (max-width: 760px) {
    .overviewBox{
        display: flex;
        flex-direction: column;
        /* border: 3px solid black; */
        /* justify-content: space-between; */
        /* gap: 10px; */
    }
    .loanBox{
        width: 100%;
        height: 30%;
        /* padding: 10px; */
    }
}