.overviewBox{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.loanBox{
    width: 30%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.553);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loanIcon {
    font-size: 40px;
    /* color: #7c0051; */
    color: #5f32a8;
    /* margin-bottom: 10px; */
}
  
h3{
    margin: 5px 0;
    font-size: 18px;
}
  
p{
    font-size: 16px;
    font-weight: bold;
}